<head>
    <link rel="stylesheet" href="Footer.css">
</head>

<div class="BackgroundImageDetails">
    <img src="Images/FooterBackground.png">
    <div class="text-overlay">
        <div class="linkedin">
        <a href="https://github.com/BrianBoddaert/EnergyPerformanceChain"><img class="github" src="Images/github.png"></a>
        <a href="mailto:aliyev-r@outlook.com"><img class="mail" src="Images/mail.png"></a>
    </div>
        <br/>
        <div class="linkedin">
            <a href="https://www.linkedin.com/in/paulberkhof/">
            <img src="Images/LinkedIn.png">
            Paul
            </a>
            <a href="https://www.linkedin.com/in/brian-boddaert-215087147/">
            <img src="Images/LinkedIn.png">
            Brian
            </a>
            <a href="https://www.linkedin.com/in/rufat-aliyev7/">
            <img src="Images/LinkedIn.png">
            Rufat
            </a>
        </div>
    </div>
</div>