<html lang="en">
	<TITLE>EPChain</TITLE>
	<head>
		<link rel="stylesheet" href="Styles.css">
		<link rel="stylesheet" href="Header.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
<body onload="restoreSelectedOption()">
	<!-- HEADER -->
 	<div class="Main">
      	<img class="headerBackgroundImage" src='Images/HeaderBackground.png'></img>
	<div class="headerContent">
     	<div class="headerImage">
        	<img src='/Images/LogoTransp.png' />
    	</div>
         	<h3 class="headerTitle">Fair Energy Certification</h3>
    	</div>
    	<div class="buttonsholder">
        	<a href="/"><button>Dashboard</button></a>
        	<a href="/about"><button>About us</button></a>
        	<a href="/register"><button>Register</button></a>
			<a href="/update"><button>Update</button></a>
    	</div>
	</div>	

	<!-- TABLE -->
	<table class="table">
		<thead>
		<tr>
			<th></th>
			<th class="filter selectedColumn" id="energyOptionHeader">
			<select value={selectedOption} id="selectOption">
				<option value="energyEfficiency">Consumption</option>
				<option value="energyGreen">Green</option>
				<option value="energySharing">Sharing</option>
			</select>
			</th>
			<th class="companyHead filter selectedColumn">Company name</th>
			<th class="mainTableHead">CP Token</th>
		</tr>
		</thead>
    <tbody>
		<!-- Is generated using js below -->
	</tbody>
	</table>
</body>

<script>

// ----- TABLE STUFF -------
	GetTableData();

    const selectElement = document.getElementById('selectOption');
    selectElement.addEventListener('change', (event) => {
    	saveSelectedOption(); // Save the selected option to sessionStorage
		GetTableData();
	});

	function saveSelectedOption()
	{
    	const selectedOption = $('#selectOption').val();
    	sessionStorage.setItem('selectedOption', selectedOption);
  	}

  	function restoreSelectedOption()
	{
    	const savedOption = sessionStorage.getItem('selectedOption');
    	if (savedOption)
		{
    		$('#selectOption').val(savedOption); // Set the saved option as the selected value
			GetTableData();
    	}
  	}

	function GetTableData() {
		var selectedOption = $('#selectOption').val();

		$.ajax({
			url: '/sortCompanyData',
			method: 'GET',
			data: {
				selectedOption: selectedOption
			},
			success: function(sortedData) {
				// Update the table with the sorted data
				updateTable(sortedData);
			},
			error: function(err) {
				console.error('Error:', err);
			}
		});
	}

	function updateTable(sortedData) {
		var tableBody = $('table.table tbody');
		tableBody.empty();
		$.each(sortedData, function(index, data) {
			var rowHtml = '<tr class="' + (index % 2 === 0 ? 'rowEven' : 'rowOdd') + '">' +
				'<td>' + (index + 1) + '</td>' +
				'<td class="dataCell">' + data.attributes[0].EnergyUsage + '</td>' +
				'<td class="makeClicky" onClick="handleButtonClick(' + index + ')"> ' + data.name + '</td>' +
				'<td><img src="' + data.image + '"/></td>' +
				'</tr>';
			tableBody.append(rowHtml);
		});

    	const selectedOption = event.target.value;
    	// Get all data cells
    	const dataCells = document.querySelectorAll('.dataCell');
    	// Update the data cells based on the selected option
    	dataCells.forEach((dataCell, index) => {
			const json = JSON.parse('<%- JSON.stringify(companyData) %>');
			const attributes = json[index].attributes[0];

			switch (selectedOption) {
				case 'overall':
					dataCell.textContent = attributes.EnergyUsage;
					break;
				case 'energyEfficiency':
					dataCell.textContent = attributes.EnergyUsage;
					break;
				case 'energyGreen':
					dataCell.textContent = attributes.EnergyGreen;
					break;
				case 'energySharing':
					dataCell.textContent = attributes.EnergySharing;
					break;
				default:
					break;
			}
    	});
	}

	function handleButtonClick(index){
		$.ajax({
			url: '/getSortCompanyData',
			method: 'GET',
			data: {
			},
			success: function(sortedData) {
				// Update the table with the sorted data
				window.location.href = '/details?data=' + encodeURIComponent(JSON.stringify(sortedData[index]));
			},
			error: function(err) {
				console.error('Error:', err);
			}
		});

  	}

</script>

</html>

