<html lang="en">
	<TITLE>EPChain</TITLE>
	<head>
		<link rel="stylesheet" href="Styles.css">
		<link rel="stylesheet" href="Info.css">
		<link rel="stylesheet" href="AboutUs.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
<body onload="restoreSelectedOption()">
	<!-- HEADER -->
	<%- include("header") %>

	<!-- TABLE -->
	<table class="table">
		<thead>
		<tr>
			<th></th>
			<th class="filter selectedColumn" id="energyOptionHeader">
			<select value={selectedOption} id="selectOption">
				<option value="energyEfficiency">Consumption</option>
				<option value="energyGreen">Green</option>
				<option value="energySharing">Sharing</option>
			</select>
			</th>
			<th class="companyHead filter selectedColumn">Company name</th>
			<th class="mainTableHead">CP Token</th>
		</tr>
		</thead>
    <tbody>
		<!-- Is generated using js below -->
	</tbody>
	</table>
	<div class="Main">
		<img class="BackgroundImage" src='Images/AboutUsBackground.png'></img>
		
		<div class="Header">
		  The most trustworthy and reliable energy certification
		</div>
		<div class="Content">
		  <div class="ContentOne">
			<h3>What do we do</h3>
			<div class="Line"></div>
			<p>
			  We are pioneers in the realm of energy rating and certification, leveraging state-of-the-art 
			  blockchain technology. Our cutting-edge approach ensures unparalleled security and trust in the 
			  evaluation of corporate energy usage. With meticulous data analysis and advanced algorithms, 
			  we compare companies' energy efficiency, identifying industry leaders. Our prestigious certificates 
			  validate their dedication to sustainable practices, inspiring others to follow suit.
			</p>
			<h3>How do we do it</h3>
			<div class="Line"></div>
			<p>
			  Every month we generate a new set of dynamicly created NFT's. The colors in this NFT determine your position
			  in the energy ranking. By adding up all the energy data from all the registered companies we calculate the avarge
			  for the different energy sectors. These are <b>Energy consumptionm, Green Energy and Energy Sharing</b>
			  This doesn't just show how well a comapny is doing, but also how well he is doing in improving throughout the months. 
			</p>
		  </div>
		  <div class="ContentTwo">
			<div class="ImagesContainer">
			  <img class="Image2" src='Images/NFTExampleInfo.png'></img>
			  <img class="Image1" src='Images/NFTExampleData.png'></img><br />
			  </div>
			</div>
		</div>
	  </div>
	  <div class="Main">
		<div class="HeaderInfo">
		  Get in touch and improve your company image!
		</div>

		<div class="ContentInfo">
		  <a href="/register"><button>Register</button></a>
		</div>

		<%- include("footer") %>

	  </div>
</body>

<script>

// ----- TABLE STUFF -------
	GetTableData();

    const selectElement = document.getElementById('selectOption');
    selectElement.addEventListener('change', (event) => {
    	saveSelectedOption(); // Save the selected option to sessionStorage
		GetTableData();
	});

	function saveSelectedOption()
	{
    	const selectedOption = $('#selectOption').val();
    	sessionStorage.setItem('selectedOption', selectedOption);
  	}

  	function restoreSelectedOption()
	{
    	const savedOption = sessionStorage.getItem('selectedOption');
    	if (savedOption)
		{
    		$('#selectOption').val(savedOption); // Set the saved option as the selected value
			GetTableData();
    	}
  	}

	function GetTableData() {
		var selectedOption = $('#selectOption').val();

		$.ajax({
			url: '/sortCompanyData',
			method: 'GET',
			data: {
				selectedOption: selectedOption
			},
			success: function(sortedData) {
				// Update the table with the sorted data
				updateTable(sortedData);
			},
			error: function(err) {
				console.error('Error:', err);
			}
		});
	}

	function updateTable(sortedData) {
		var tableBody = $('table.table tbody');
		tableBody.empty();
		$.each(sortedData, function(index, data) {
			var rowHtml = '<tr class="' + (index % 2 === 0 ? 'rowEven' : 'rowOdd') + '">' +
				'<td>' + (index + 1) + '</td>' +
				'<td class="dataCell">' + data.attributes[0].EnergyUsage + '</td>' +
				'<td class="makeClicky" onClick="handleButtonClick(' + index + ')"> ' + data.name + '</td>' +
				'<td><img src="' + data.image + '"/></td>' +
				'</tr>';
			tableBody.append(rowHtml);
		});

    	const selectedOption = event.target.value;
    	// Get all data cells
    	const dataCells = document.querySelectorAll('.dataCell');
    	// Update the data cells based on the selected option
    	dataCells.forEach((dataCell, index) => {
			const json = JSON.parse('<%- JSON.stringify(companyData) %>');
			const attributes = json[index].attributes[0];

			switch (selectedOption) {
				case 'overall':
					dataCell.textContent = attributes.EnergyUsage;
					break;
				case 'energyEfficiency':
					dataCell.textContent = attributes.EnergyUsage;
					break;
				case 'energyGreen':
					dataCell.textContent = attributes.EnergyGreen;
					break;
				case 'energySharing':
					dataCell.textContent = attributes.EnergySharing;
					break;
				default:
					break;
			}
    	});

		const elements = document.querySelectorAll('.makeClicky');
		elements.forEach(element => {
			const originalText = element.innerHTML;

			element.addEventListener('mouseenter', () => {
				element.textContent = '-' + originalText + '-';
			});

			element.addEventListener('mouseleave', () => {
				element.textContent = originalText;
			});
		});
	}

	function handleButtonClick(index){
		$.ajax({
			url: '/getSortCompanyData',
			method: 'GET',
			data: {
			},
			success: function(sortedData) {
				// Update the table with the sorted data
				window.location.href = '/details?data=' + encodeURIComponent(JSON.stringify(sortedData[index]));
			},
			error: function(err) {
				console.error('Error:', err);
			}
		});
  	}

</script>

</html>

