<html lang="en">
    <TITLE>EPChain Register</TITLE>
	<head>
		<link rel="stylesheet" href="Styles.css">
	</head>
    <body>
        <div className={`Container ${styles.Container}`}>
            <Header />
            <h2>Register</h2><br/>
            <button onclick="handleLoginMetaDataButtonClick()" id='metamaskbutton'>Link Metamask</button><br/>
            <div id='hiddenText' hidden>
                <p>Successfully linked metamask address!</p>
                <p id="metamaskaddresstext" name="metamaskaddresstext"></p> 
                <p>Open your metamask browser addon and click "connected" if you want to disconnect</p>
            </div>
        
            <form id="RegisterForm" method="POST" action="/register" enctype="application/x-www-form-urlencoded">    
                <input hidden type="text" id="metamaskaddressstorage" name="metamaskaddressstorage"/> <br/>
                
                <label>Company name:</label><br/>
                <input type="text" id="cname" name="cname"/><br/>
                <!-- <label>Email:</label><br/>
                <input type="text" id="email" name="email"/><br/> -->
                <label>Industry:</label><br/>
                <select name="industry" id="industry">
                    <option value="Agriculture and Forestry">Agriculture and Forestry</option>
                    <option value="Mining and Extraction">Mining and Extraction</option>
                    <option value="Construction and Engineering">Construction and Engineering</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Energy and Utilities">Energy and Utilities</option>
                    <option value="IT">IT</option>
                    <option value="Telecommunications">Telecommunications</option>
                    <option value="Wholesale and Retail Trade">Wholesale and Retail Trade</option>
                    <option value="Transportation and Logistics">Transportation and Logistics</option>
                    <option value="Tourism">Tourism</option>
                    <option value="Finance and Insurance">Finance and Insurance</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Management and Accounting">Management and Accounting</option>
                    <option value="Human resources">Human resources</option>
                    <option value="Education and Training">Education and Training</option>
                    <option value="Healthcare and Social Assistance">Healthcare and Social Assistance</option>
                    <option value="Arts, Entertainment, and RecreationIT">Arts, Entertainment, and Recreation</option>
                    <option value="Media and Communication">Media and Communication</option>
                    <option value="Government and Public Administration">Government and Public Administration</option>
                    <option value="Nonprofit and Philanthropy">Nonprofit and Philanthropy</option>
                    <option value="Military and Defense">Military and Defense</option>
                </select><br/>
                <label>This months energy spending:</label><br/>
                <input type="number" id="energyspent" name="energyspent"/><p> joule</p><br/>
                <label>This months energy shared:</label><br/>
                <input type="number" id="energyshared" name="energyshared"/><p> joule</p><br/>
                <label>This months green energy used:</label><br/>
                <input type="number" id="energygreen" name="energygreen"/><p> joule</p><br/>

                <input type="submit" id="submitButton" value="Submit"/><br/>
            </form><br/>
        
            
        </div>
    </body>
    

    <script>
      function handleLoginMetaDataButtonClick()
      {
          const metaMaskButton = document.getElementById('metamaskbutton');
          if (!window.ethereum)
          {
            metaMaskButton.innerText = 'No access to MetaMask in your browser';
            return;
          }
          else
          {
              loginWithMetaMask();
          }
      };

      async function loginWithMetaMask()
      {
          const metaMaskButton = document.getElementById('metamaskbutton');
          const hiddenText = document.getElementById('hiddenText');
          const metaMaskAddressText = document.getElementById('metamaskaddresstext');
          const metaMaskAddressStorage = document.getElementById('metamaskaddressstorage');

          const accounts = await window.ethereum.request({method: 'eth_requestAccounts'})
          .catch((e) => {
              return;
          })
          if (!accounts)
          {
              return;
          }

          window.userwalletAddress = accounts[0];
          hiddenText.removeAttribute("hidden");
          metaMaskAddressText.innerText = accounts[0];
          metaMaskAddressStorage.value = accounts[0];
          metaMaskButton.innerText = 'Metamask is linked';
      }
    

    </script>
</html>