<html lang="en">
    <TITLE>EPChain Register</TITLE>
	<head>
		<link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="Register.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
    <body>
      <%- include("header") %>
        <div class="RegisterAndUpdateForms">
            <button onclick="handleLoginMetaDataButtonClick()" id='metamaskbutton'>Link Metamask</button><br/>
            <div id='hiddenText' hidden>
              <div class="hiddenTextInnerText">
                <p>Successfully linked metamask address!</p>
                <p id="metamaskaddresstext" name="metamaskaddresstext"></p><br/>
                <p>Open your metamask browser addon and click "connected" if you want to disconnect</p>
              </div>
            </div>
        
            <form hidden id="RegisterForm" method="POST" action="/register" enctype="application/x-www-form-urlencoded">    
                <input hidden type="text" id="metamaskaddressstorage" name="metamaskaddressstorage"/>
                <h2>Register</h2><br/>
                <label>Company name:</label><br/>
                <input type="text" id="cname" name="cname"/><br/>
                <label>Brief description:</label><br/>
                <textarea type="text" id="description" name="description" class="biggerTextBox" maxlength="100"></textarea><br/>
                <!-- <label>Email:</label><br/>
                <input type="text" id="email" name="email"/><br/> -->
                <label>Industry:</label><br/>
                <select name="industry" id="industry">
                    <option value="Agriculture and Forestry">Agriculture and Forestry</option>
                    <option value="Mining and Extraction">Mining and Extraction</option>
                    <option value="Construction and Engineering">Construction and Engineering</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Energy and Utilities">Energy and Utilities</option>
                    <option value="IT">IT</option>
                    <option value="Telecommunications">Telecommunications</option>
                    <option value="Wholesale and Retail Trade">Wholesale and Retail Trade</option>
                    <option value="Transportation and Logistics">Transportation and Logistics</option>
                    <option value="Tourism">Tourism</option>
                    <option value="Finance and Insurance">Finance and Insurance</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Management and Accounting">Management and Accounting</option>
                    <option value="Human resources">Human resources</option>
                    <option value="Education and Training">Education and Training</option>
                    <option value="Healthcare and Social Assistance">Healthcare and Social Assistance</option>
                    <option value="Arts, Entertainment, and RecreationIT">Arts, Entertainment, and Recreation</option>
                    <option value="Media and Communication">Media and Communication</option>
                    <option value="Government and Public Administration">Government and Public Administration</option>
                    <option value="Nonprofit and Philanthropy">Nonprofit and Philanthropy</option>
                    <option value="Military and Defense">Military and Defense</option>
                </select><br/>
                <h3>This months energy provider statistics: </h3>
                <div class="energyformquestion">
                  <label>Energy spending:</label><br/>
                  <input type="number" id="energyspent" name="energyspent"/><p class="unit"> kWh</p>
                </div>
                <div class="energyformquestion">
                <label>Energy shared:</label><br/>
                <input type="number" id="energyshared" name="energyshared"/><p class="unit"> kWh</p>
              </div>
                <div class="energyformquestion">
                <label>Energy used:</label><br/>
                <input type="number" id="energygreen" name="energygreen"/><p class="unit"> kWh</p>
              </div>
                <br/>
                <input type="submit" id="submitButton" value="Submit"/><br/>
            </form>

            <form hidden id="UpdateForm" method="POST" action="/register/update" enctype="application/x-www-form-urlencoded">    
              <h2>Update</h2>
                <input hidden type="text" id="update_metamaskaddressstorage" name="metamaskaddressstorage"/>
                <h3>This months energy provider statistics: </h3>
                <label>Energy spending:</label><br/>
                <input type="number" id="update_energyspent" name="energyspent"/><p class="unit"> kWh</p><br/>
                <label>Energy shared:</label><br/>
                <input type="number" id="update_energyshared" name="energyshared"/><p class="unit"> kWh</p><br/>
                <label>Energy used:</label><br/>
                <input type="number" id="update_energygreen" name="energygreen"/><p class="unit"> kWh</p><br/>
                <br/>
                <input type="submit" id="update_submitButton" value="Submit"/><br/>
            </form>
        </div>
        <%- include("footer") %>
    </body>
    

    <script>
      function handleLoginMetaDataButtonClick()
      {
        const metaMaskButton = document.getElementById('metamaskbutton');
        const metaMaskAddressText = document.getElementById('metamaskaddresstext');
        if (!window.ethereum)
        {
          metaMaskButton.innerText = 'No access to MetaMask in your browser';
          return;
        }
        else
        {
            loginWithMetaMask();
        }
      };

      async function loginWithMetaMask()
      {
          const metaMaskButton = document.getElementById('metamaskbutton');
          const hiddenText = document.getElementById('hiddenText');
          const metaMaskAddressText = document.getElementById('metamaskaddresstext');
          const metaMaskAddressStorage = document.getElementById('metamaskaddressstorage');
          const update_metamaskaddressstorage = document.getElementById('update_metamaskaddressstorage');
          
          const registerForm = document.getElementById('RegisterForm');
          const updateForm = document.getElementById('UpdateForm');

          const accounts = await window.ethereum.request({method: 'eth_requestAccounts'})
          .catch((e) => {
              return;
          })
          if (!accounts)
          {
              return;
          }

          window.userwalletAddress = accounts[0];
          hiddenText.removeAttribute("hidden");
          metaMaskAddressText.innerText = accounts[0];
          metaMaskAddressStorage.value = accounts[0];
          update_metamaskaddressstorage.value = accounts[0];
          metaMaskButton.innerText = 'Metamask is linked';
          metaMaskButton.classList.add('ActivatedButton');
          
          // Call the IsWalletIDRegistered function asynchronously
          await IsWalletIDRegistered(metaMaskAddressText.innerText)
          .then(registeredObject => {
            console.log(registeredObject);
            if (registeredObject) {
              updateForm.removeAttribute('hidden');
            } else {
              registerForm.removeAttribute('hidden');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
          
      }
    
      async function IsWalletIDRegistered(address)
      {
        return new Promise(function(resolve, reject) {
        $.ajax({
          url: '/isWalletIDRegistered',
          method: 'GET',
          data: {
            address: address
          },
          success: function(registeredObject) {
            // Resolve the promise with the registeredObject
            resolve(registeredObject);
          },
          error: function(err) {
            // Reject the promise with the error
            reject(err);
          }
        });
      });
      }

    </script>
</html>