
.BackgroundImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    position: absolute;
}

.Header{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    font-family: 'TitleFont';
    font-size: 40px;
    color: rgb(208, 237, 204);
}

.Content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.ContentOne {
    width: 35%;
    height: 500px;
}

.ContentOne h3{
    color: rgb(55, 67, 37);
    font-family: 'HeaderFont';
   font-size: 30px;
}

.ContentOne p{
    font-size: 21px;
    color: rgb(36, 47, 17);
    font-family: 'NormalText';
    margin-bottom: 30px;
}

.ContentTwo {
    width: 40%;
    height: 500px;
}

.ImagesContainer {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
  }

.Image1{
    width: 600px;
    height: 200px;
    margin-left: 140px;
    margin-top: 60px;
}

.Image2{
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 20px;
}

.Line{
    background-color: rgb(79, 117, 69);
    border-radius: 10px;
    width: 400px;
    height: 7px;
    margin-bottom: 20px;

}