.Description{
  background-color: rgb(232, 232, 222);
  width: 700px;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
}

.Progressbar{
  background-color: rgb(237, 237, 229);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.ProgressbarItem{
  margin-right: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ProgressbarItem img{
  width: 60px;
}

.ProgressbarItem p{
  font-size: 15px;
}

.ProgressChart{
  margin-top: 20px;
  height: 200px;
}

.ProgressChart button{
  margin: 5px;
  border: 2px solid rgb(92, 156, 102);
  background-color: rgb(100, 167, 111);
  border-radius: 3px;
}

.selectedButton{
  margin: 5px;
  border: 2px solid rgb(68, 225, 92) !important;
  background-color: rgb(104, 218, 123) !important;
  border-radius: 3px;
}
