@font-face {
  font-family: 'TitleFont';
  src: url('/Fonts/PonziHat.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalText';
  src: url('/Fonts/Freshmen.otf');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0px;
}

.Content{
  width: 60%;
}

.Content h4{
  margin-top: 40px;
}

.Description{
  width: 700px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: NormalText;
  font-size: 18px;
}

.Progressbar{
  display: flex;
  height: 250px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 20px;
}

.ProgressHeader{
  font-size: 25px;
  font-family: TitleFont;
  color: rgb(51, 137, 60);
}

.ProgressbarItem{
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(248, 250, 245);
  border: 2px solid rgb(169, 173, 169);
  border-radius: 5px;
  cursor: pointer;
}

.Progressbar img{
  width: 100px;
  padding: 50px;
  height: 100px;
  padding-bottom: 20px;
}

.Progressbar h2{
  font-size: 16px;
  margin: 20px;
  color: rgb(28, 64, 34);
  font-family: TitleFont;
}

.ProgressbarItem p{
  font-size: 15px;
}

.ProgressbarItem:hover {
  transform: scale(1.1);
}

.ProgressChart{
  margin-top: 20px;
}

.ProgressChart h4{
  font-size: 25px;
  font-family: TitleFont;
  color: rgb(51, 137, 60);
}

.ProgressChart button{
  margin: 5px;
  margin-top: 0px;
  border: 2px solid rgb(143, 208, 153);
  background-color: rgb(158, 212, 167);
  border-radius: 3px;
  width: 100px;
  height: 30px;
}

.ProgressChart button:hover{
  width: 106px;
  height: 31px;
}



.nonSelectedButton{
  margin: 5px;
  border: 2px solid rgb(92, 156, 102);
  background-color: rgb(100, 167, 111);
  border-radius: 3px;
  width: 100px;
  height: 30px;
}

.nonSelectedButton:hover{
  width: 106px;
  height: 31px;
}

.selectedButton{
  margin: 5px;
  border: 2px solid rgb(225, 214, 68) !important;
  background-color: rgb(240, 214, 82) !important;
  border-radius: 3px;
  width: 100px;
  height: 30px;
}

.selectedButton:hover {
  width: 106px;
  height: 31px;
}

.companyname{
  font-size: 50px;
  font-family: TitleFont;
  color: rgb(51, 137, 60);
  margin: 0px;
}

.Line{
  background-color: rgb(51, 137, 60);
  height: 10px;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 10px;
}

.BackgroundImageDetails{
  width: 100%;
  margin-top: auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}