  .Main {
    
  }
  
  .headerbackground {
    height: 200px;
    background-color: #d3f0ca;
    border-radius: 8px;
    display: 'flex';
    align-items: 'center';
    justify-content: 'flex-start';
  }

  .headerbackground img{
    max-width: 100%;
    margin-top: 20px;
    margin-left: 5px;
  }

  .buttonsholder{
    display: flex;
    justify-content: center;
  }

  .buttonsholder button{
    margin: 5px;
    border-radius: 5px;
    background-color: #d3f1ca;
  }

  .lightmode{
    position: absolute;
    padding-top: 35px;
    font-style: bold;
    color: rgb(11, 59, 20);
    font-size: 15px;
    cursor: pointer;
    height: 70px;
  }