@font-face {
    font-family: 'TitleFont';
    src: url('/Fonts/PonziHat.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HeaderFont';
    src: url('/Fonts/Bronkey-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NormalText';
    src: url('/Fonts/Freshmen.otf');
    font-weight: normal;
    font-style: normal;
  }

.Header{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    font-family: 'TitleFont';
    font-size: 40px;
    color: rgb(79, 93, 77);
}

.Content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Content button{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(141, 220, 123);
    border: 2px solid rgb(79, 127, 68);
    font-family: 'TitleFont';
    font-size: 23px;
    color: rgb(62, 85, 46);
}

.BackgroundImage{
    height: 300px;
}
