@font-face {
  font-family: 'TitleFont';
  src: url('/Fonts/PonziHat.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalText';
  src: url('/Fonts/Freshmen.otf');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0px;
}
  /* --- TABLE --- */

  .table {
    width: 60%;
    border-collapse: separate;
    border-spacing: 0 8px;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 250px;
  }
  
  .table th {
    position: relative;
    font-weight: bold;
    background-color: #7fae8a;
    color: #2f452f;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    border-radius: 8px;
    padding-right: 8px; 
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 5px solid transparent;
  }
  
  .table canvas {
    height: 30px !important;
  }
  
  .companyHead {
    width: 35%;
    height: 10px;
  }
    
  .table td {
    padding: 12px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .rowEven {
    background-color: #ebedea;
  }
  
  .rowOdd {
    background-color: #f6f9f5;
  }
    
    .table img {
      max-width:30px;
    }
  
    .filter {
      cursor: pointer;
    }
  
    .table select {
      background-color: #a2cfb4;
      border-radius: 5px;
    }
  
    .selected {
      background-color: #8fd160 !important;
      color: #ffffff;
    }
  
    .makeClicky{
      cursor: pointer;
    }
  
    .makeClicky:hover {
      font-size: 1.1em;
      transform: scale(1.01);
    }

    #RegisterForm p{
      display:inline
    }

    #UpdateForm p{
      display:inline
    }
    