.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-collapse: collapse;
}

.table th {
  position: relative;
  font-weight: bold;
  background-color: #7fae8a;
  color: #2f452f;
  padding: 12px;
  padding-left: 15px;
  text-align: left;
  border-radius: 8px;
  padding-right: 8px; 
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 5px solid transparent;
}

.table canvas {
  height: 30px !important;
}

.companyHead {
  width: 35%;
  height: 10px;
}
  
.table td {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.rowEven {
  background-color: #ebedea;
}

.rowOdd {
  background-color: #f6f9f5;
}
  
  .table img {
    max-width:30px;
  }

  .filter {
    cursor: pointer;
  }

  .table select {
    background-color: #a2cfb4;
    border-radius: 5px;
  }

  .selected {
    background-color: #8fd160 !important;
    color: #ffffff;
  }